<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Uh oh...</title>
  </head>
  <body>
    <main>
      <div class="gameCont">
        <div class="questionCont">

          <h3>{{sesh.question}}</h3>
        </div>
        <div class="answers">
          {{#sesh.answers}}
          <form class="" action="/game" method="POST">
            <button class="baseColor" type="submit" name="{{.}}">{{.}}</button>
          </form>
          {{/sesh.answers}}
        </div>
      </div>
    </main>
  </body>
</html>
