<!DOCTYPE html>
<html>
  <head>
    <title>Trivia</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
  </head>
  <body>
    <main>
      <div class="gameCont">
        <div class="questionCont">
          <h3>{{sesh.question}}</h3>
        </div>
        <div class="answers">
          {{#sesh.answers}}
            {{#correct}}
              <form class="" action="/game" method="POST">
                <button class="answerBtn baseColor correctAns" type="submit" value="correct" name="pick">{{answer}}</button>
              </form>
            {{/correct}}
            {{^correct}}
              <button class="answerBtn baseColor wrongAns" type="button" value="wrong" name="pick" onclick="showAnswers()">{{answer}}</button>
            {{/correct}}
          {{/sesh.answers}}
        </div>
      </div>
      <div class="bgDec">
      </div>
    </main>
    <script src="/main.js" charset="utf-8"></script>
  </body>
</html>
