<!DOCTYPE html>
<html>

  <head>
    <title>Ice Breaker</title>
  </head>
  <body>
    <main>
      <form class="triviaForm" action="/" method="POST">
        <select class="categorySelect" name="category">
          <option value="Entertainment: Music">Music</option>
          <option value="Sports">Sports</option>
          <option value="Science: Computers">Computers</option>
        </select>
        <select class="diffSelect" name="difficulty">
          <option value="easy">Easy</option>
          <option value="medium">Hard</option>
        </select>
        <button type="submit" name="trviaSubmit">Play</button>
      </form>
    </main>
  </body>
</html>
