<!DOCTYPE html>
<html>
  <head>
    <title>Create Account</title>

  </head>
  <body>
    <main>
      <div class="gameCont">
        <div class="questionCont">
          <h3>{{question}}</h3>
        </div>
        <div class="answers">

          {{#answers}}
          <form class="" action="/game" method="POST">
            <button class="baseColor" type="submit" name="{{answer}}">{{.}}</button>
          </form>
          {{/answers}}
        </div>

      </div>

    </main>
  </body>
</html>
