* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}


/*
light grey - rgb(110, 125, 129)
orange - rgb(255, 99, 0)
dark grey - rgb(35, 40, 41)
/**/

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: linear-gradient(-135deg, rgb(143, 164, 170), rgb(60, 84, 91));
}

main {
  /*display: flex;*/
}

.bgDec {
  background-image: linear-gradient(0deg, rgb(29, 38, 40), rgb(51, 60, 62));
  border-bottom: 8px solid rgb(255, 99, 0);
  height: 1000px;
  width: 2000px;
  position: absolute;
  top: -500px;
  left: 90px;
  transform: rotate(45deg);
  z-index: -1;
}


/*============  GAME PAGE =============*/

.gameCont {
  margin: 100px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  color: white;
}

#timer {
  position: absolute;
  top: 30%;
  left: 150px;
  font-size: 50px;
}

.questionCont {
  height: 500px;
  width: 350px;
  padding: 40px 15px;
  font-size: 28px;
  border-right: 4px solid rgb(60, 77, 82);
  background-image: linear-gradient(90deg, rgb(29, 38, 40), rgb(42, 49, 51));
}

.questionCont>h3 {
  font-weight: 300;
}

.answers {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.answers>form {
  flex: 1;
}

.answerBtn {
  height: 100%;
  width: 350px;
  font-size: 28px;
  font-weight: 300;
  color: white;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.54);
  border: transparent;
  flex: 1;
}

.answerBtn:focus {
  outline: none;
}

.baseColor {
  border-bottom: 4px solid rgb(255, 99, 0);
  background-image: linear-gradient(0deg, rgb(130, 151, 157), rgb(156, 172, 177));
}

.baseColor:hover {
  border-bottom: 4px solid rgb(105, 255, 0);
  background-image: linear-gradient(0deg, rgb(156, 172, 177), rgb(130, 151, 157));
}

.correctColor {
  background-image: linear-gradient(0deg, rgb(7, 231, 36), rgb(7, 249, 140));
}

.wrongColor {
  background-image: linear-gradient(0deg, rgb(255, 99, 0), rgb(254, 129, 38));
}


/*===============  Game START page  ==================*/

.triviaForm {
  padding: 200px 0;
  margin: 0 auto;
  width: 300px;
  height: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.categorySelect {
  font-size: 15px;
  height: 50px;
  width: 120px;
  margin-right: 20px;
  border: none;
  border-left: 4px solid rgb(255, 99, 0);
  background-image: linear-gradient(0deg, rgb(130, 151, 157), rgb(156, 172, 177));
}

.diffSelect {
  font-size: 15px;
  height: 50px;
  width: 120px;
  border: none;
  border-right: 4px solid rgb(255, 99, 0);
  background-image: linear-gradient(0deg, rgb(130, 151, 157), rgb(156, 172, 177));
}

.triviaForm>button {
  font-size: 15px;
  width: 100px;
  height: 40px;
  margin-top: 10px;
  border: none;
  border-bottom: 4px solid rgb(255, 99, 0);
  background-image: linear-gradient(0deg, rgb(130, 151, 157), rgb(156, 172, 177));
}

.triviaForm>button:hover {
  border-bottom: 4px solid rgb(105, 255, 0);
  background-image: linear-gradient(0deg, rgb(156, 172, 177), rgb(130, 151, 157));
}


/*============  TIMER ANIMATION ==================*/

.timerCont {
  position: absolute;
  top: 100px;
  left: -80px;
}

.glassCont {
  height: 500px;
  width: 70px;
  position: absolute;
  left: 300px;
  overflow: hidden;
  z-index: 1;
}

.glass {
  height: 100%;
  width: 200%;
  position: relative;
  left: 60px;
  background-color: white;
  opacity: .3;
}

.bar {
  height: 500px;
  width: 70px;
  position: absolute;
  left: 300px;
  transform-origin: bottom;
}

.barBg {
  background-color: #666666;
  height: 500px;
  width: 70px;
  position: absolute;
  left: 300px;
  z-index: -1;
}

@keyframes timer {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

.timer {
  animation: timer 10s linear;
}

.green {
  background-image: linear-gradient(0deg, rgb(7, 231, 36), rgb(7, 249, 140));
}

.red {
  background-image: linear-gradient(0deg, rgb(255, 99, 0), rgb(254, 129, 38));
}
